#heading {
    color: rgb(255, 0, 85);
    font-size: 100px;
    text-align: center;
    text-decoration: underline;
    margin-top: 0%;
    margin-bottom: 0%;
}

#profilepic {
    border: 10px solid rgb(255, 120, 153);
    margin-right: 50px;
}

h2 {
    display: inline;
    position:absolute;
    font-style: italic;
    color: cornflowerblue;
}

body{
    background-image: url(https://images.template.net/94713/pale-pink-background-si3vt.png);
}

div {
    position:fixed;
}
